.burger-menu {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 0;
  height: 1.25rem;
  position: relative;
  z-index: 150;
  transition: all 03s ease;
}

.burger-menu:hover {
  background-color: none;
}

.burger-menu > div {
  width: 1.5rem;
  background: var(--black);
  height: 2px;
}

.burger-menu > div::before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  width: 1.5rem;
  background: var(--black);
  height: 2px;
  transition: all 0.3s ease-in;
}

.burger-menu > div::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 1px;
  width: 1.5rem;
  background: var(--black);
  height: 2px;
  transition: all 0.3s ease-in;
}

/* Dynamic css selectors */
.burger-isOpen.burger-menu > div {
  visibility: hidden;
}
.burger-isOpen.burger-menu > div::before {
  transform: rotate(-45deg);
  visibility: visible;
}
.burger-isOpen.burger-menu > div::after {
  transform: rotate(45deg);
  visibility: visible;
}

@media(min-width: 675px) {
  button.burger-menu {
    display: none;
    cursor: pointer;
  }
}