.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: var(--border-radius-md);
  background-color: var(--white);
  padding: 1.5rem;
  position: relative;
}

.card-popular {
  display: grid;
  place-items: center;
  position: absolute;
  background-color: red;
  height: 3rem;
  width: 3rem;
  z-index: 10;
  top: -1rem;
  right: -1rem;
  border-radius: 50%;
  font-size: .5rem;
  font-weight: bold;
  color: var(--white);
}

.card__pill {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.card__pill span {
  padding: .5rem 1rem;
  border-radius: var(--border-radius-rounded);
  color: var(--white);
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: .06rem;
}

.card__pill .think {
  background-color: orange;
}

.card__pill .defend {
  background-color: green;
}

.card__pill .chill {
  background-color: blue;
} 


.card__image {
  margin: -1.5rem -1.5rem 0;
  cursor: pointer;
  position: relative;
}

.card__image > img {
  object-fit: cover;
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-weight: bold;
}

.card__description {
  font-weight: lighter;
}

.card > button {
  display: block;
  margin-left: auto;
  margin-top: auto;
}
