.container.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav {
  display: none;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__link {
  font-weight: bold;
  list-style: none;
  transition: color 0.1s ease-in;
}

.nav__link + * {
  margin-left: 1.5rem;
}

.nav__link.link--active {
  color: var(--primary);
}

.header__icons {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.header__icons + * {
  margin-left: .5rem;
}

.header__details {
  display: none;
}

.header__details > li {
  list-style: none;
}

.header__details > li + li {
  margin-left: .5rem;
}

.header__basket {
  position: relative;
}

.basket-length {
  position: absolute;
  top: -4px;
  right: -16px;
  font-weight: bold;
  height: max-content;
  color: var(--black);
}

@media(min-width: 675px) {
  .header__details, .nav {
    display: flex;
    align-items: center;
  }
}