.hero {
  display: grid;
  place-items: center;
  background-image:url('/images/img-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: var(--white);
  position: relative;
}

.hero::before {
  content: ''; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.66;
}

.hero__inner {
  z-index: 2;
}

:is(.hero h1, .hero p, .hero a) {
  display: block;
  text-align: center;
}
