.hero {
  display: grid;
  place-items: center;
  background-image:url('/images/img-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: var(--white);
}

:is(.hero h1, .hero p, .hero a) {
  display: block;
  text-align: center;
}
