.product__content {
  display: flex;
  flex-direction: column;
}

.product__image {
  position: relative;
  overflow: hidden;
}

.favourite__icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.product__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-weight: bold;
}

.product > button {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .product__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}
