.product__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.product__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-weight: bold;
}
