.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  height: 6rem;
}

.category--active {
  color: var(--primary);
}

.filter-container {
  display: flex;
  gap: .5rem;
  border-radius: var(--border-radius-rounded);
  font-size: var(--small-text);
  font-weight: bold;
  opacity: 0.5;
}

.feature-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media(min-width: 576px) {
  .feature-cards {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }
}

