:root {
  --black: hsl(0, 0%, 15%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 93%);
  --grey-medium: hsl(0, 1%, 83%);
  --primary: hsl(234, 57%, 65%);
  
  --border-radius-sm: .25rem;
  --border-radius-md: .5rem;
  --border-radius-rounded: 2rem;
  --cubic-bezier: cubic-bezier(.83,.43,1,1.03);
  --max-width: 1200px;

  --base-text: 1rem;
  --heading-big: 4.2rem;
  --heading-1: 3.2rem;
  --heading-2: 2.4rem;
  --heading-3: 1.8rem;
  --heading-4: 1.4rem;
  --small-text: 0.8rem;

  --shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Breakpoints */
/* 576px */
/* 768px */
/* 1024px */
/* 1280px */
